body{
    background-image: url(images/fon1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;    
}
.blok1{
    width: 680px;
    height: 300px;
    background-image: url(images/6.jpg); 
    border-radius: 30px; 
    padding: top;   
margin-left: auto;
margin-right: auto;
border-color: rgb(35, 134, 26);
border-image: 10px;
border-style: dashed;
text-align: center;
transition: 10s all;
}
.nazvablok1{
 color: rgba(224, 40, 147, 0.918);
 padding: top;
 text-align: center;
 margin-top:180px;
 font-size:100px;
}
.emblema1{
    width: 280px;
    height: 280px;
    background-image: url(img/emblema.jpg); 
    border-radius: 140px; 
    padding: top;   

border-color: rgb(21, 32, 136);
border-image: 10px;
border-style: dashed; 
position: absolute; /* Абсолютное позиционирование */
top: 5px; /* Положение от верхнего края */
left: 5px; /* Положение от левого края */
line-height: 1px;
}
.emblema2{
    width: 280px;
    height: 280px;
    background-image: url(img/emblema.jpg); 
    border-radius: 140px; 
    padding: top;   

border-color: rgb(21, 32, 136);
border-image: 10px;
border-style: dashed; 
position: absolute; /* Абсолютное позиционирование */
top: 65px; /* Положение от верхнего края */
left: 5px; /* Положение от левого края */
line-height: 1px;
}
.div1 {
    padding-top: 20px;
    width: 250px;
    height: 1000px;
    display: inline-block;
    font-size: 15px;
}
.div2{
    padding-top: 20px;
    width: 900px;
    height: 1000px;
    display: inline-block;
    font-size: 15px;
}
.all{
    width: 700px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 140px;
    border-color: rgb(29, 29, 212);
    display: inline-block;
 
}
.div3 {
    padding-top: 20px;
    width: 150px;
    height: 1000px;
    display: inline-block;
    font-size: 15px;
}
.div11 {
    padding-top: 20px;
    width: 600px;
    height: 450px;
    display: inline-block;
    font-size: 15px;
}
.div22{
    padding-top: 20px;
    width: 600px;
    height: 450px;
    display: inline-block;
    font-size: 15px;
}
.div33 {
    padding-top: 20px;
    width: 600px;
    height: 450px;
    display: inline-block;
    font-size: 15px;
}
.div44 {
    padding-top: 20px;
    width: 600px;
    height: 450px;
    display: inline-block;
    font-size: 15px;
}
.menu-ul li{
    display: inline-block;
    padding: 15px;
    border: 5px;
    border-color: blue;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 160%; /* Размер шрифта в процентах */ 
}
.body_page1{
    background-image: url(images/fon7.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;     
}
.body_page2{
    background-image: url(images/fon4.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;     
}
.body_page3{
    background-image: url(images/fon5.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;     
}
.nazva1{
    color: rgb(24, 9, 92);
    padding: top;
    text-align: center;
}
.nazva2{
    color: rgb(24, 9, 92);
    padding: 70px;
    text-align: center;
}
.fotoclass{
    width: 800px;
    margin-left: 20%;
    margin-right: 20%;
    border-color: rgb(29, 29, 212);
    border: 5px solid red;
    border-image: 10px;
    border-radius: 50px;   
}
.fotoclass3{
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
    border-color: rgb(29, 29, 212);
    border: 5px solid red;
    border-image: 10px;
    border-radius: 50px;   
}
.fotoclass1{
    width: 600px;
    margin-left: 200px;
    margin-right: 100px;
    border-color: rgb(29, 29, 212);
    border: 5px solid blue;
    border-image: 10px;
    border-radius: 50px;   
}
.fotoclass4{
    width: 700px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 300px;
    border-color: rgb(29, 29, 212);
    border: 5px solid blue;
    border-image: 10px;
    border-radius: 50px;   
}
#box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.figura {
    position: absolute; /* Абсолютное позиционирование */
    top: 15px; /* Положение от верхнего края */
    right: 15px; /* Положение от правого края */
    line-height: 1px;
}
.nadpis {
    position: absolute; 
    top: 130px; 
    right: 15px; 
    line-height: 1px;
    color: darkblue;
}
.nadpis1 {
    position: absolute; 
    top: 145px; 
    right: 15px; 
    line-height: 1px;
    color: darkblue;
}
.contakt {
    position: absolute; 
    top: 140px; 
    right: 150px; 
    line-height: 1px;
    color: darkblue;
    color: rgb(24, 9, 92);
    padding: top;
    text-align: center;
}
.contakt1 {
    position: absolute; 
    top: 170px; 
    right: 150px; 
    line-height: 1px;
    
    color: rgb(24, 9, 92);
    padding: top;
    text-align: center;
}
nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
    margin-top: -880px;
    
  }
  
  }
  .one ul {
    padding: 1em 0;
    background: #ECDAD6;
  
  
  }
  .one a {
    padding: 1em;
    background: #6A93D4;
  
  
    color: #695753;
  }
  .one a:hover {background: #b19891;}
  .one li {
    display: inline;
  
  }
  
  
  #slider { /*положение слайдера*/
      position: relative;
      text-align: center;
      top: 10px;
  }
  
  #slider{ 
      margin: 0 auto;
  }
  
  #slides article{
      width: 20%;
      float: left;
  }
  
  #slides .image{ 
      width: 500%;
      line-height: 0;
  }
  
  #overflow{ 
      width: 100%;
      overflow: hidden;
  }
  
  article img{ 
      width: 100%;
  }
  
  #desktop:checked ~ #slider{ 
      max-width: 960px; 
  }
  
  
  #switch1:checked ~ #controls label:nth-child(5), 
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2),
  #switch4:checked ~ #controls label:nth-child(3),
  #switch5:checked ~ #controls label:nth-child(4){
      background: url('prev.png') no-repeat; 
      float: left;
      margin: 0 0 0 -84px; 
      display: block;
      height: 68px;
      width: 68px;
  }
  
  
  #switch1:checked ~ #controls label:nth-child(2), 
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(4),
  #switch4:checked ~ #controls label:nth-child(5),
  #switch5:checked ~ #controls label:nth-child(1){
      background: url('next.png') no-repeat; 
      float: right;
      margin: 0 -84px 0 0; 
      display: block;
      height: 68px;
      width: 68px;
  }
  
  label, a{ 
      cursor: pointer;
  }
  
  .all input{
      display: none;
  }
  
  
  #switch1:checked ~ #slides .image{
      margin-left: 0;
  }
  
  #switch2:checked ~ #slides .image{
      margin-left: -100%;
  }
  
  #switch3:checked ~ #slides .image{
      margin-left: -200%;
  }
  
  #switch4:checked ~ #slides .image{
      margin-left: -300%;
  }
  
  #switch5:checked ~ #slides .image{
      margin-left: -400%;
  }
  
  #controls{ 
      margin: -25% 0 0 0;
      width: 100%;
      height: 50px;
  }
  
  #active label{ 
      border-radius: 10px;
      display: inline-block; 
      width: 15px;
      height: 15px;
      background: #bbb;
  }
  
  #active{ 
      margin: 23% 0 0;
      text-align: center;
  }
  
  #active label:hover{ 
      background: #76c8ff;
      border-color: #777 !important; 
  }
  
  
  #switch1:checked ~ #active label:nth-child(1),
  #switch2:checked ~ #active label:nth-child(2),
  #switch3:checked ~ #active label:nth-child(3),
  #switch4:checked ~ #active label:nth-child(4),
  #switch5:checked ~ #active label:nth-child(5){
      background: #18a3dd;
      border-color: #18a3dd !important;
  }
  
  #slides .image{ 
      transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  #menu {
    padding: 0;
    margin: 0;
    font-family:  Verdana;
    }
#menu li {
    list-style: none;
    float: left;
    height: 30px;
    padding: 0;
    margin: 0;
    width: 200px;
    text-align: center;
    background:  #95DF8E;
    position: relative;
    padding-top: 12px;
    }
#menu li ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    }
#menu li ul li{
    float: none;
    height: 30px;
    margin: 0;
    width: 200px;
    text-align: center;
    background: rgb(58, 243, 41);
    }
#menu li a{
    display: block;
    width: 200px;
    height: 30px;
    color:    rgb(35, 10, 177);
    text-decoration: none;
    }

#menu li:hover ul{
      display: block;
      }
#menu li:hover{
      background: rgb(180, 197, 102);
      }
#menu li ul li ul{
left:200px;
top: 0;
}
#menu>li>ul>li>ul{
    left:200px;
    top: 0;
    }
#menu li ul li ul li{display: none;}
#menu li ul li:hover ul li{display: block;} 
